<div style="margin-left:10%;padding:1px 16px;height:1000px;">
  <h2>Books Available</h2>
  
  <p>Our expansive catalog can be seen below.  
    To find more about a book, simply click on its image or name!<br><br> 
  </p>
  
  <h3>Books</h3>
  
  <figure>
  <a href="/books/CompanyTown">
  <img align="left" src="/CompanyTown.jpg" width="156" height="230" alt="test">
  </a>

  <figcaption>
    <h3>
      <br><br><br><br>
      &nbsp;&nbsp;&nbsp;<a style="color:#32a834" href="/books/CompanyTown" >Company Town</a>
      
    </h3>

      </figcaption>
    </figure> 
    
    <br><br><br><br><br<br><br><br>

    <figure>
      <a href="/books/Catcher">
      <img align="left" src="/Catcher.jpg" width="156" height="230" alt="test">
      </a>
    
      <figcaption>
        <h3>
          <br><br><br><br>
          &nbsp;&nbsp;&nbsp;<a style="color:#32a834" href="/books/Catcher" >the Catcher in the Rye</a>
          
        </h3>
    
          </figcaption>
        </figure>
        <br><br><br><br><br<br><br><br>

        <figure>
          <a href="/books/1984">
          <img align="left" src="/1984.jpg" width="156" height="230" alt="test">
          </a>
        
          <figcaption>
            <h3>
              <br><br><br><br>
              &nbsp;&nbsp;&nbsp;<a style="color:#32a834" href="/books/1984" >1984</a>
              
            </h3>
        
              </figcaption>
            </figure>

</div>